
<nav class="navbar navbar-expand-lg bg-info px-5 py-3">
    <a class="navbar-brand" href="/Admin/GetAllQuiz">
        <i class="fa-solid fa-brain fa-2xl" style="color: white;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/Admin/GetAllQuiz">All Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Admin/CreateQuiz">Create Quiz</a>
            </li>

        </ul>
    </div>
</nav>